.container {
    display: grid;
    grid-template-columns: 260px 1fr 350px; 
    min-height: 100vh;
}

.left {
    border-right: 1px solid #262626;
}

.center {
    padding: 1rem 2rem;
}

.right {
    border-left: 1px solid #262626;
    padding: 1rem;
}